.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color:gray;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:15%;
}

.container{
    width: 500px;
    border:3px solid white;
    display:flex;
    flex-direction:column;
    color:white;
    padding:10px;
    /* justify-content: center;
    align-items: center; */
}

.head{
  font-weight:600;
  font-size:2em;
}
input{
  height:50px;
  border-radius:5px;
  border:none;
  width:75%;
  margin-top:10px;
  margin-bottom:5px;
  font-size:2em;
  font-weight:bold;
}
.inputDiv{
  width:100%;
}